.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5F5;
}
.app{
    max-width: 600px;
    width: 100%;
    border: 1px solid black; 
}
ul{
    list-style-type: none;
}
h1{
    color: #E7DAD9;
    font-size: 70px;
    font-weight: 100;
}